
h1 {
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
}

h2 {
    color: #ca5010;
    font-size: 17px;
    text-align: center;
    display: inline;
    margin-right: 20px;
    
}

h3 {
    color: #a4262c;
    font-size: 20px;
    font-weight: 700;
    
}

li {
    list-style: none;
    margin-left: 0px;
}

body {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 20px;
}

a {
    text-decoration: none;
}

.cabecalho-superior {
    text-align: center;
}

.foto-perfil {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    
}

.cabecalho {
    margin-bottom: 50px;
    border-bottom: 20px;
}

.cabecalho p {
    
}